<div class="card">
  <p-toast></p-toast>
  <!-- <p-table
    [value]="[user]"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Surname</th>
        <th style="width: 20%">E-mail</th>
        <th style="width: 20%">Date Birth</th>
        <th style="width: 20%">Driving License</th>
        <th style="width: 20%">Driving License Type</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-user
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="user">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user?.data.name" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user?.data.surname" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.surname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                appendTo="body"
                [(ngModel)]="user?.data.email"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user?.data.dateBirth"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.dateBirth }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user?.data.drivingLicense.deadLine"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.drivingLicense.deadLine }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="user?.data.drivingLicense.type"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user?.data.drivingLicense.type }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit()"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(user?.data)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(user?.data, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table> -->
  <form [formGroup]="editingForm" method="post" (ngSubmit)="proceedEditing()">
    <table>
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Surname</th>
        <th style="width: 20%">Date Birth</th>
        <th style="width: 20%">Driving License Type</th>
        <th style="width: 20%">Driving License DeadLine</th>
        <!-- <th style="width: 20%">Business Name</th> -->
      </tr>
      <tr>
        <td>
          <input
            pInputText
            class="w-9rem"
            *ngIf="editMode"
            [(ngModel)]="user.name"
            formControlName="name"
          />
          <p *ngIf="!editMode">{{ user?.name }}</p>
        </td>
        <td>
          <input
            pInputText
            class="w-9rem"
            *ngIf="editMode"
            [(ngModel)]="user.surname"
            formControlName="surname"
          />
          <p *ngIf="!editMode">{{ user?.surname }}</p>
        </td>
        <td>
          <input
            pInputText
            class="w-9rem"
            *ngIf="editMode"
            [(ngModel)]="user.dateBirth"
            formControlName="dateBirth"
          />
          <p *ngIf="!editMode">{{ user?.dateBirth.split("T")[0] }}</p>
        </td>
        <td>
          <p-dropdown
            *ngIf="editMode"
            [options]="driveLicences"
            optionValue="name"
            optionLabel="name"
            appendTo="body"
            formControlName="drivingLicense"
            [(ngModel)]="user.drivingLicense.type"
          ></p-dropdown>
          <p *ngIf="!editMode">{{ user?.drivingLicense.type }}</p>
        </td>
        <td>
          <input
            pInputText
            class="w-9rem"
            *ngIf="editMode"
            formControlName="deadLine"
            [(ngModel)]="user.drivingLicense.deadLine"
          />
          <p *ngIf="!editMode">
            {{ user?.drivingLicense.deadLine.split("T")[0] }}
          </p>
        </td>
        <td *ngIf="!editMode">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="activateEditMode()"
          ></p-button>
        </td>
        <td *ngIf="editMode">
          <p-button
            icon="pi pi-check"
            [rounded]="true"
            [text]="true"
            (onClick)="onRowEditSave()"
            severity="success"
          ></p-button>
        </td>
        <td *ngIf="editMode">
          <p-button
            icon="pi pi-times"
            [rounded]="true"
            [text]="true"
            (onClick)="onRowEditCancel()"
            severity="danger "
          ></p-button>
        </td>
        <!-- <td>
        <input pInputText class="w-9rem" *ngIf="editMode" [value]="user?.data.drivingLicense.businessName">
        <p *ngIf="!editMode">{{ user?.data.businessName }}</p>
      </td> -->
      </tr>
    </table>
  </form>
</div>
