:host ::ng-deep {
    .p-inputtext {
        background: transparent !important;
        width: 20rem;
    }
    .p-dropdown {
        background: transparent !important;
        border-bottom: 1px solid #dbdbdb;
        width: 20rem;
    }
    .p-element {
        background: transparent !important;
    }
    .p-accordion-tab{
        width: 45rem;
    }
}

.vehicleBox{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #E4E4E4;
    border-radius: 10px;
    margin-top: 1rem;
    width: 45rem;
}

.vehicleDetailsBox{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #E4E4E4;
    border-radius: 10px;
    margin-top: 1rem;
    width: 45rem;
}