<div class="wrapper flex">
    <div class="form-wrapper sign-in" *ngIf="showBox" [@leaveRight]>
        <form action="">
            <h2>Login</h2>
            <div class="input-group">
                <input type="text" required>
                <label for="">Email</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <div class="remember">
                <label><input type="checkbox"> Ricorda i miei dati</label>
            </div>
            <button type="submit">Accedi</button>
            <div class="flex align-items-center">
                <p>Non hai ancora un account?</p>
                <p-button (click)="onToggle()" [text]="true" styleClass="text-white">Registrati</p-button>
            </div>
        </form>
    </div>
</div>