.box {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

:host ::ng-deep { 
    .p-dialog-header { 
        background-color: rgba(255, 255, 255, 0.9)!important; 
        color: black !important; 
    } 
    .p-dialog-title { 
        color: black !important; 
    } 
    .p-dialog .p-dialog-content { 
        background: rgba(255, 255, 255, 0.9) !important; 
        color: black !important; 
    }
    .p-dialog .p-dialog-content a { 
        color: black !important; 
    }
    .p-dialog-header-icon { 
        color: black !important; 
    }
    // .p-ripple{ 
    //     color: black !important; 
    // }
    .p-avatar {
        margin-top: 10px;
        margin-left: 40px;
    }
}

.caption {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.caption img {
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
}
.caption span {
    float: left;
    margin: 0;
    padding: 10px;
    width: 100%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}
.caption span strong {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    z-index: 1;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

/*
.navbar{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    padding: 2rem 100px 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
*/

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar a:hover::before {
    width: 100%;
}

button {
    position: relative;
    width: 20%;
    height: 40px;
    background: linear-gradient(to right, #8b6fa4, #795796, #784f9b);
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    margin-top: 38rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);;
}

