<div>
    <app-globe></app-globe>
</div>

<div class="body relative h-screen w-screen">
    <div class="justify-content-center align-items-center flex p-4">
        <header class="header">
            <a href="#" class="logo">isCOS</a>
            <nav class="navbar">
                <a (click)="showAccountDialog(); usageDialogVisible = false; contactsDialogVisible = false" label="Show"
                    class="active cursor-pointer">Account</a>
                <p-dialog header="Gestione Account" [showHeader]="true" [resizable]='false' [draggable]='false'
                    [(visible)]="accountDialogVisible" [style]="{width: '50vw'}">
                    <app-manager-account></app-manager-account>
                </p-dialog>
                <a (click)="showVeicleDialog(); accountDialogVisible = false; contactsDialogVisible = false; usageDialogVisible =false" label="Show"
                    class="active cursor-pointer">Veicoli</a>
                <p-dialog header="Veicoli" [showHeader]="true" [resizable]='false' [draggable]='false'
                    [(visible)]="veicleDialogVisible" [style]="{width: '50vw'}">
                    <p class="pt-5">
                        testo da inserire
                    </p>
                </p-dialog>
                <a (click)="showUsageDialog(); veicleDialogVisible = false; accountDialogVisible = false; contactsDialogVisible = false" label="Show"
                    class="active cursor-pointer">Come usarlo</a>
                <p-dialog header="Informazioni sull'utilizzo" [showHeader]="true" [resizable]='false'
                    [draggable]='false' [(visible)]="usageDialogVisible" [style]="{width: '50vw'}">
                    <p class="pt-5">
                        testo da inserire
                    </p>
                </p-dialog>
                <a (click)="showContactsDialog(); accountDialogVisible = false; usageDialogVisible = false; veicleDialogVisible=false;" label="Show"
                    class="active cursor-pointer">Contatti</a>
                <p-dialog header="Contatti" [showHeader]="true" [resizable]='false' [draggable]='false'
                    [(visible)]="contactsDialogVisible" [style]="{width: '60vw'}">
                    <div class="flex justify-content-around">
                        <div class="flex">
                            <img src="/assets/gabriele.png" alt="Image" width="230" class="border-round-lg">
                        </div>
                        <div class="flex">
                            <img src="/assets/umberto.png" alt="Image" width="230" class="border-round-lg">
                        </div>
                        <div class="flex">
                            <img src="/assets/flavio.png" alt="Image" width="200" class="border-round-lg">
                        </div>
                    </div>
                </p-dialog>
            </nav>
        </header>
    </div>
</div>