<form [formGroup]="changePasswordForm" (ngSubmit)="sendChangePasswordRequest()">
  <div class="flex flex-column align-items-start ml-5">
    <div class="card flex mt-4">
      <span class="p-float-label input-group">
        <input pInputText type="password" formControlName="oldPassword" />
        <label htmlFor="password">Vecchia password</label>
      </span>
    </div>
    <div class="card flex mt-4">
      <span class="p-float-label input-group">
        <input pInputText type="password" formControlName="newPassword" />
        <label htmlFor="password">Nuova password</label>
      </span>
    </div>
    <div class="card flex mt-4">
      <span class="p-float-label input-group">
        <input
          pInputText
          type="password"
          formControlName="confirmNewPassword"
        />
        <label htmlFor="password">Ripeti nuova password</label>
      </span>
    </div>
    <div class="card flex mt-4">
      <button
        type="submit"
        [disabled]="!changePasswordForm.valid"
        class="mt-3"
        severity="success"
        class="tableButton cursor-pointer"
      >
      Invia
      </button>
    </div>
  </div>
</form>
