<p-toast></p-toast>
<div class="box flex-wrap pt-2 pb-2 pl-3 pr-3">
  <div class="form-wrapper sign-in" *ngIf="showBox" [@leaveRight]>
    <form [formGroup]="form" method="post" (ngSubmit)="sendLoginRequest()">
      <h2>Login</h2>
      <div class="card flex justify-content-center mt-4">
        <span class="p-float-label input-group">
          <input pInputText type="email" formControlName="email" required />
          <label htmlFor="email">Email</label>
        </span>
      </div>
      <div class="card flex justify-content-center mt-4">
        <span class="p-float-label input-group">
          <input
            pInputText
            type="password"
            formControlName="password"
            required
          />
          <label htmlFor="password">Password</label>
        </span>
      </div>
      <button
        type="button"
        (click)="checkCorrectPassword()"
        [disabled]="!form.valid"
      >
        Accedi
      </button>
      <div class="signUp-link flex align-items-center h-1">
        <p>Non hai ancora un account?</p>
        <a (click)="onToggle()" class="ml-2 cursor-pointer">Registrati</a>
        <!-- <p-button (click)="onToggle()" [text]="true" styleClass="text-white">Registrati</p-button> -->
      </div>
    </form>
    <p-dialog [visible]="this.confirmAccountDialog" header="Conferma la mail" appendTo="body" [closeOnEscape]="false"
      [draggable]="false" [resizable]="false" [closable]="false" [style]="{ width: 'auto', heigth: 'auto' }">
      <app-confirm-registration></app-confirm-registration>
    </p-dialog>
  </div>
</div>
