<p-toast></p-toast>
<head>
  <meta charset="utf-8" />
  <title>Create a rotating globe</title>
  <meta
    name="viewport"
    content="initial-scale=1,maximum-scale=1,user-scalable=no"
  />
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>

  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .marker {
      display: block;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="map" class="absolute"></div>
  <div class="selectTripVehicleAndFuel">
    <form [formGroup]="selectVehicleForm" (ngSubmit)="startNavigation()">
      <div class="card flex justify-content-center h-2rem">
        <p-dropdown
          dropdownIcon="pi pi-car"
          formControlName="vehicle"
          [options]="vehicles"
          optionLabel="name"
          showClear="true"
          placeholder="Select vehicle"
        ></p-dropdown>
      </div>
      <div class="card flex justify-content-center mt-2 h-3rem">
        <h4>Fuel level</h4>
      </div>
      <div class="card flex justify-content-center">
        <p-knob
          formControlName="value"
          [step]="5"
          valueColor="MediumTurquoise"
          rangeColor="SlateGray"
        ></p-knob>
      </div>
      <div
        *ngIf="!enableNavigation"
        class="card flex justify-content-center mt-2"
      >
        <button
          pButton
          type="submit"
          [disabled]="!selectVehicleForm.valid"
          label="Start navigation"
          class="p-button-success"
        ></button>
      </div>
      <div class="card flex justify-content-center mt-2">
        <button
          *ngIf="enableNavigation"
          pButton
          type="button"
          label="Stop navigation"
          class="p-button-danger"
          (click)="stopNavigation()"
        ></button>
      </div>
      <div class="card flex justify-content-center mt-2">
        <button
          pButton
          type="button"
          label="Indietro"
          class="p-button-secondary"
          (click)="stopNavigation()"
          [routerLink]="['/gestione']"
        ></button>
      </div>
    </form>
  </div>
  <div *ngIf="enableNavigation" class="selectCities">
    <form
      [formGroup]="selectCitiesForm"
      (ngSubmit)="originCityNameValid = true; destinationCityNameValid = true"
    >
      <div class="mt-4">
        <span class="p-float-label">
          <!-- <input pInputText id="username" formControlName="origin" /> -->
          <p-autoComplete
            formControlName="origin"
            [suggestions]="filteredCity"
            (completeMethod)="filterCity($event)"
            [dropdown]="true"
          ></p-autoComplete>
          <label for="username">Origin City</label>
        </span>
      </div>
      <div class="mt-4">
        <span class="p-float-label">
          <!-- <input pInputText id="username" formControlName="destination" /> -->
          <p-autoComplete
            formControlName="destination"
            [suggestions]="filteredCity"
            (completeMethod)="filterCity($event)"
            [dropdown]="true"
          ></p-autoComplete>
          <label for="username">Destination City</label>
        </span>
      </div>
      <div class="card flex mt-2">
        <button
          pButton
          type="submit"
          [disabled]="!selectCitiesForm.valid"
          label="Avvia"
          class="p-button-success"
        ></button>
      </div>
    </form>
  </div>
  <div *ngIf="!receivedResponse" class="card progressionSpinner">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</body>
