<div class="box flex-wrap pt-2 pb-2 pl-3 pr-3 overflow-hidden">
    <div class="form-wrapper sign-out">
        <form [formGroup]="form" method="post" (ngSubmit)="proceedRegistration()">
            <h2>Registrazione</h2>
            <div *ngIf="!showContinueButton">
                <div class="card flex justify-content-center">
                    <span class="p-float-label input-group">
                        <input pInputText id="username" formControlName="name" />
                        <label htmlFor="name">Nome</label>
                    </span>
                </div>
                <div class="card flex justify-content-center mt-4">
                    <span class="p-float-label input-group">
                        <input pInputText type="text" formControlName="surname">
                        <label htmlFor="lastname">Cognome</label>
                    </span>
                </div>
                <div class="card flex justify-content-center mt-4">
                    <span class="p-float-label input-group">
                        <input pInputText formControlName="email">
                        <label htmlFor="email">Email</label>
                    </span>
                </div>
                <div class="card flex mt-4">
                    <span class="p-float-label input-group">
                        <p-calendar formControlName="dateBirth" appendTo="body" dateFormat="dd/mm/yy"></p-calendar>
                        <label htmlFor="date">Data di nascita</label>
                    </span>
                </div>
            </div>
            <div *ngIf="showContinueButton">
                <div class="card flex justify-content-center mt-4">
                    <p-dropdown formControlName="drivingLicense"  [options]="driveLicences" optionValue="name" optionLabel="name"
                        placeholder="Tipo patente"></p-dropdown>
                </div>
                <div class="card flex justify-content-center mt-4">
                    <span class="p-float-label input-group">
                        <p-calendar formControlName="deadLine" appendTo="body" dateFormat="dd/mm/yy"></p-calendar>
                        <label htmlFor="date">Data scadenza patente</label>
                    </span>
                </div>
                <div class="card flex justify-content-center mt-4">
                    <span class="p-float-label input-group">
                        <input pInputText type="text" formControlName="businessName">
                        <label htmlFor="ragioneSociale">Ragione Sociale</label>
                    </span>
                </div>
                <div class="card flex justify-content-center mt-4">
                    <span class="p-float-label input-group">
                        <input pInputText type="password" formControlName="password">
                        <label htmlFor="password">Password</label>
                    </span>
                </div>
            </div>
            <button *ngIf="!showContinueButton" type="button" class="mt-3" (click)="onContinue()">Continua</button>
            <button *ngIf="showContinueButton" type="button" class="mt-3" (click)="onContinue()">Indietro</button>
            <button *ngIf="showContinueButton" type="button" [disabled]="!form.valid"
                (click)="onToggle(); proceedRegistration()" class="mt-3">Registrati</button>
            <div *ngIf="showContinueButton">
                <div *ngIf="form.invalid">
                    <div>
                        <p class="text-danger text-center text-red-500">Compila tutti i campi</p>
                    </div>
                </div>
            </div>
            <div class="signUp-link flex align-items-center">
                <p>Hai già un account?</p>
                <p-button (click)="onToggle()" [text]="true" styleClass="text-white"
                    class="tableButton cursor-pointer">Accedi</p-button>
            </div>
        </form>
    </div>
</div>