<div class="wrapper">
    <div class="form-wrapper sign-in">
        <form action="">
            <h2>Registrazione</h2>
            <div class="input-group">
                <input type="text" required>
                <label for="">Ragione sociale azienda</label>
            </div>
            <div class="input-group">
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <div class="remember">
                <label><input type="checkbox"> Accetto i termini e le condizioni</label>
            </div>
            <button type="submit">Registrati</button>
            <div class="signInBtn-link flex align-items-center">
                <p>Hai già un account?</p>
                <p-button (click)="onToggle()" [text]="true" styleClass="text-white">Accedi</p-button>
            </div>
        </form>
    </div>
</div>