.box {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
    margin-right: 25px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
    margin: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    margin-top: 40px;
    margin-left: 10px;
}

h2 {
    margin-top: 10px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

.input-group {
    border-bottom: 1px solid #fff;
}

.input-group label {
    color: #FFF
}

.input-group input {
    
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
}

:host ::ng-deep { 
    .p-inputtext{
        background: transparent !important;
        color: #FFF !important;
        border: none;
        width: 15rem;
    }
    .p-dropdown {
        background: transparent !important;
        border: none;
        width: 15rem;
    }
    .p-element {
        background: transparent !important;
        border: none;
    }
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #8b6fa4, #795796, #784f9b);
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    margin-top: 15px;
}